/* CSS HEX 
--lavender-web: #dcd6f7ff;
--blush: #ea638cff;
--green-sheen: #70a9a1ff;
--gunmetal: #30343fff;
--eerie-black: #1b2021ff;
*/

:root {
    --light: white; 
    --dark: #1b2021ff;
    --accent: #ea638cff;
    --secondarylight: #70a9a1ff;
    --secondarydark: #1b2021ff;
}

body{
    background-color: var(--dark);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif
    }
/* Bars */
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
li {
        float: left;
      }
      
li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
li a:hover {
        background-color: #111;
      }
 
/*Headers*/
h1 {
    text-align: center;
}
h2 {
    text-align: left;
    font-size: 250%;
}
/*About Me Section*/
#headeraboutme {
    margin-left: 80px;
}
.aboutMe {
    background-color: var(--secondarylight);
    color: var(--dark);
    border-radius: 25px 25px 25px 25px;
    border: 3px solid var(--light);
    padding: 20px;
    min-width: 900px;
    min-height: 600px;
    
}
.headshot {
    max-width: 600px;
    min-width: 600px;
    width: 50%; 
    float: left;
    padding: 20px;
}
.bio {
    text-align: justify;
    font-size: 150%;
}
/*Flex Box for Work*/

/*Large Work Button Section*/
.largeContainer {
    position: relative;
    width: 50%;
    max-width: 800px;
  }
.largeContainer img {
    width: 100%;
    height: auto;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
  .largeContainer .largebox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .largeContainer .largebox:hover {
    background-color: black;
  }

/*Work Buttons Small Section*/
.container {
    position: relative;
    width: 50%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
  
  .container .smallbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
  }
  
  .container .smallbox:hover {
    background-color: black;
  }

/*Media Edit*/
@media screen and (max-width: 600px) {
    ul li.right, 
    ul li {float: none;}
  }
